* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;

}


body {
    background-color: var(--body-color);
    transition: background .3s;

}

/*---nav-icons-----*/

nav {
    top: 0;
    background-color: var(--nav-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;

}

.logo {
    width: 140px;
    cursor: pointer;

}

.nav-left ul li {
    list-style: none;



    display: inline-block;
}

.nav-left ul li img {
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
}

.search-box {
    background-color: #efefef;
    display: flex;

    height: 30px;
    border-radius: 10px;

}

.search-box img {
    padding: 2px;
}

.search-box input {
    background-color: transparent;
    width: 230px;
    border-radius: 10px;
    outline: none;
    border: 0;
}

.nav-profile img {
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}

.online {

    position: relative;

}

.online::after {
    content: '0';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    left: 42px;


}

/*------container---------*/

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {

    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.right-sidebar {
    background-color: var(--bg-color);
    padding: 5px 10px;

    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

}

.main-containt {
    flex-basis: 47%;
}

/*---------==========left-sidebar=========--------*/

.imp-links a,
.shortcut-links a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links img {
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f3;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links img {
    width: 50px;
    margin-right: 10px;

}

.shortcut-links p {
    margin: 10px 0px;
}


/*---------==============Right-sidebar=========*/
.sidebar-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.sidebar-tittle h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-tittle a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;

}

.events {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}

.left-events {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.events p {
    color: #626262;
    font-size: 12px;

}

.events a {

    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.events span {
    color: var(--bg-color);
    position: absolute;
    left: 0;
    bottom: 0;
    background: #1876f2;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    padding: 2px;
}

.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 4px;
    left: 30px;
}

/*-------============main container===============------------*/

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;

    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.story img {
    width: 27px;
    border-radius: 50%;
    border: #1876f3 solid 1px;
    position: absolute;
    top: 10px;
    left: 7px;

}

.story p {
    color: var(--bg-color);
    position: absolute;
    padding: 0px 10px;
    bottom: 5px;

}

.story-1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png);
}

.story-2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-2.png);
}

.story-3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-3.png);
}

.story-4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-4.png);
}

.story-5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-5.png);
}

.story.story-1 img {
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    bottom: 25px;

    align-items: center;
}

.write-post-contianer {
    background-color: var(--bg-color);
    border-radius: 4px;
    width: 100%;

    color: #626262;
    align-items: center;
    padding: 4px;
    font-size: 18px;

}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-profile small {
    font-size: 13px;

}

.dot-3 i {
    display: flex;
    justify-content: end;
}

.post-input-container {
    padding-top: 20px;
    padding-left: 10px;



}

.post-input-container textarea {
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    resize: none;
    width: 100%;

    background: transparent;
}

.add-post-links {
    display: flex;


    justify-content: space-evenly;


}

.add-post-links img {
    width: 27px;
    margin-right: 4px;

}

.add-post-links a {
    text-decoration: none;
    color: #626262;
    display: flex;
    align-items: center;

}

.post-container {
    color: #626262;
    width: 100%;
    background-color: var(--bg-color);
    margin-top: 8px;
    border-radius: 4px;
    padding: 20px;

}

.dot-3,
i {
    display: inline-flex;

}

.post-container span {
    font-size: 15px;
}

.post-text {
    color: #9a9a9a;
    margin: 10px 0px;
}

.post-text a {
    text-decoration: none;
    color: #1876f2;
}

.dot-3 {
    display: flex;
    margin-left: auto;
}

.post-image-1 {
    width: 100%;
    border-radius: 4px;
}

.post-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-icons div img {
    display: flex;
    width: 25px;
    margin-right: 3px;

}

.activity-icons div {
    display: inline-flex;
    font-size: 15px;
    margin-right: 15px;
    align-items: center;

}

.btn {
    display: block;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    border-radius: 4px;

}

.footer-sec {
    color: #626262;
    background-color: #9c9c9c;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-top: 30px;
}

.footer-sec ul li {
    list-style: none;
    margin: 0px 40px;
}

.footer-sec h1 {
    font-size: 22px;
    margin: 0px 40px;
    color: black !important;
}

/*----------===========setting menu============------------*/
.settings-menu {
    background-color: var(--bg-color);
    position: absolute;
    width: 90%;
    cursor: pointer;
    display: none;
    right: 50px;
    top: 70px;
    padding: 10px 12px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    color: #626262;


}

.settings-menu-height {
    display: inline-block;
    max-height: 450px;
    max-width: 350px;



}

.settings-menu a {
    text-decoration: none;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin-top: 14px;
}

.pro {
    margin-top: 10px;
}

.settings-links {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-top: 10px;
}

.settings-icons {
    width: 40px;
    margin-right: 8px;
}

.settings-links a {
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 50px;
    height: 20px;
    padding: 1px 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: padding-left 0.5s, background 0.5s;

}

#dark-btn span {
    background: #fff;
    width: 20px;
    height: 18px;
    border-radius: 50px;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 27px;
    background: #000;
}

/*-----------------------profile section---------------------*/
.profile-sec {

    color: #626262;
    margin: 20px 50px;
}

.cover-img {
    width: 100%;
    height: 220px;
    border-radius: 6px;
    margin-bottom: 14px;
}

.profile-details {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.pd-pic {
    width: 65px;
    border-radius: 6px;
    margin-right: 6px;
}

.pd-row {
    display: flex;
}

.pd-row div img {
    width: 20px;
    border-radius: 50%;
    margin-top: 5px;
}

.pd-right {

    text-align: right;

}

.pd-right button {
    display: flex;
    height: 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 4px;
    align-items: center;
    background-color: #1876f3;
    color: #fff;
    font-weight: 600;




}

.pd-right img {
    width: 20px;
    margin-right: 5px;
}

.bg-btn {

    margin-right: 20px;
    background-color: #e4e6eb !important;
    color: #000 !important;

}

.option-btn {
    display: flex;


}

.profile-info {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.info-col {
    flex-basis: 33%;

}

.post-info {
    flex-basis: 65%;

}

.profile-intro {
    background-color: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro h3 {
    font-weight: 600;
}

.intro-text {
    text-align: center;
    margin: 10px 0px;

}

.profile-intro ul li {
    list-style: none;
    font-weight: 600;

    margin-top: 10px;
    margin: 15px 0px;
    display: flex;
    text-align: center;
}

.profile-intro ul li i {
    margin-right: 6px
}

.tittle-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3, auto);
    font-size: 14px;
    margin-top: 15px;

}

.photo-box div img {
    width: 100%;
    cursor: pointer;

}

.friends-box {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3, auto);
    font-size: 14px;
    margin-top: 15px;
}

.friends-box div img {
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div {
    position: relative;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
}


/*--------------------------Media query fo home page----------------*/
@media screen and (max-width:776px) {
    .left-sidebar {
        display: none;

    }

    .right-sidebar {
        display: none;
    }

    .nav-left img {
        width: 100px;

    }

    .nav-left ul li img {
        width: 24px;
    }

    .search-box {
        display: none;
    }

    .nav-profile {
        display: flex;
        justify-content: left;
    }

    .main-containt {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: center;


    }

    .footer-sec {
        display: none;
    }

}

/*--------------------------Media query for profile page----------------*/
@media screen and (max-width:776px) {
    .profile-info {
        display: block
    }

    .info-col {
        display: ;
    }

    .post-info {
        flex-basis: 100%;
    }
}